*.bin
*.elf
*.list
*.map
*.list
!objects.list
*.d
*.o
*.su
test-results*.xml
*.a
*.so
*.dll
*.pyc
*.dblite
build
.vscode
*.log
download
*.img
Makefile*
TAGS
release
*.pkl
GEN*
*.pyd
SeedToKey.py
*.ini
AniView
*.pcap
ai
.cproject
.project
.settings/
*.bin
jse.json
log